<div class="card card-block">
  <h4 class="card-title">Create your profile</h4>
  <p class="card-text">
    <%= render 'form' %>
  </p>
  <%= link_to 'Back', profiles_path, class: 'card-link' %>
</div>
